/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.clj-kondo
/lib/
/classes/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
resources/
#.*
\.#.*
\.projectile
tmp/
simpleweb/generated_programs
.*.el~